html(lang='en', ng-app='myApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover')
    meta(name='renderer', content='webkit')
    link(href='/css/style.css', rel='stylesheet')
  body
    div(ng-view='')
script(src='/js/plugins/angular.js')
script(src='/js/plugins/angular-route.min.js')
script(src='/js/plugins/socket.io.js')
script(src='/js/plugins/pnglib.js')
script(src='/js/plugins/identicon.js')
script(src='/js/chatroom.js')